body{
    margin: 0;
}
header {
    background-color: #2e404f;
    color: white;
    position: relative;
    text-align: center;

}
.myname {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
}
.icon{
    text-align: center;
    padding: 10px;
}
.infor{
    text-align: center;
}
.infor img{
    margin-top: 20px;
    width: 400px;
    border-radius: 50%;
}

.skill{
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: none ;
}
.head_2 {
    grid-column: span 2;
}
.skill > div > h4 {
    color: #07DBF2;
    margin: 0;
}
.skill >  div >img {
    width: 15vw;
    border-radius: 5px;
}
.skill > div {
    text-align: justify;
}
@media (max-width: 500px) {
    .infor img{
        width: 150px;
    }
    .skill >  div >img {
        width: 20vw;
    }
}
@media ( min-width: 900px){
    html{
        font-size: x-large;
    }
}
h2 {
    color: #034AA6;
    text-align: center;
}
.contact {
    text-align: center;
    margin-bottom: 30px;
}
.contact button {
    background-color:#07DBF2;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 12px 28px;
}
a{
    color: white;
    text-decoration: none;
}
footer{
    background: linear-gradient( 600deg, #034AA6, #056CF2, #07DBF2);
    animation: gradient-animation 18s ease infinite;
    text-align: center;
    height: 20vh;
    color: azure;
}
.social{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}